/* ================================index.html=============================== */

/* ================general=================== */

:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark-headers-text: #2e2f42;
  --success: #31d0aa;
  --body-text: #434455;
  --subtitle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--white-background);
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* ===================header========================= */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.logo-color {
  color: var(--dark-headers-text);
}

.menu-link {
  width: 48px;
  height: 24px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state);
}

.contact-mail {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}

.contact-phone-number {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}

.modal-btn {
  font-family: 'Roboto', sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}
